@charset "UTF-8";

body{
    background-color: rgb(25, 25, 25);
    color: white;
    text-align: center;
    height: 80vh;
}
main{
    font-size: 2vw;
    border:  1px solid white;
    border-radius: 20px;
    width: 95%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}
button{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 100, 100);
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
#res{
    margin: 25px 0px 10px 0px;
    font-size: 1.5em;
}

footer{
	width: 100%;
    margin: 0px;
    font-weight: lighter;
	display: flex;
	justify-content: center;
    align-self: flex-end;
}
footer > a {
    text-decoration: none;
    color: rgb(0, 18, 100);
    font-weight: bolder;
	margin-left: 5px;
}
a:hover{
	text-decoration: underline;
	transform: translatey(0px);
	animation: flutua 0.5s ease-in-out 3;
}
@keyframes flutua {
	0%{
		transform: translatey(0px);
	}
	50%{
		transform: translatey(-10px);
	}
	100%{
		transform: translatey(0px);
	}

}